# Specific ignores
neovim/NvChad2.5/lazy-lock.json
opencode/tasks
opencode/package-lock.json
opencode/bun.lock

# Basic files
.grok
.DS_Store
.vim/tmp
alacritty/colors.yml
neovim/.netrwhist
neovim/plugged/
vim/.netrwhist
vim/bundle
vim/tmp
vim/view
zsh/cache
