# Neovim
neovim/NvChad2.5/lazy-lock.json

# Opencode
opencode/tasks
opencode/skills
opencode/package-lock.json
opencode/bun.lock
opencode/gptsetup/tasks
opencode/meridian/tasks
opencode/**/tasks

# OMC runtime state
.omc/
.omo

#TMUX
tmux/plugins

# Basic files
.grok
.DS_Store
.vim/tmp
alacritty/colors.yml
alacritty/auto-theme.toml
neovim/.netrwhist
neovim/plugged/
vim/.netrwhist
vim/bundle
vim/tmp
vim/view
zsh/cache
